<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.aku.hassannaqvi.matiari_cohorts">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".core.MainApp"
        android:allowBackup="false"
        android:icon="@drawable/agakhan"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <activity
            android:name=".ui.other.SplashscreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.other.loginActivity.LoginActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar.Bridge"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.list_activity.FormsReportCluster"
            android:label="Forms Report by Cluster"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.list_activity.FormsReportDate"
            android:label="Forms Report by Date"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.other.mainActivity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.sections.dashboardActivity.DashboardActivity"
            android:label="Dashboard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.sections.SectionAActivity"
            android:label="@string/section1_mainheading"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeUrdu" />
        <activity
            android:name=".ui.other.EndingActivity"
            android:label="Ending Interview"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeUrdu" />
        <activity
            android:name=".ui.other.SyncActivity"
            android:label="Download/Upload Data"
            android:parentActivityName=".ui.other.Main2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".core.AndroidDatabaseManager"
            android:parentActivityName=".ui.other.Main2Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
    </application>

</manifest>